<link
    href='https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard.min.css'
    rel='stylesheet'
    type='text/css'
/>
<link
    href='https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/smart_wizard_theme_arrows.min.css'
    rel='stylesheet'
    type='text/css'/>
<link rel='stylesheet' href="/style.css" />
<script
    type='text/javascript'
    src='https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/jquery.smartWizard.min.js'
></script>

<div class='container'>
    <div class='row d-flex justify-content-center mt-200'>
        <button
            type='button'
            class='btn btn-primary'
            data-toggle='modal'
            data-target='#exampleModal'
        > CREATE AN ACCOUNT </button>
    </div>
    <!-- Modal -->
    <div
        class='modal fade'
        id='exampleModal'
        tabindex='-1'
        role='dialog'
        aria-labelledby='exampleModalLabel'
        aria-hidden='true'
    >
        <div
            class='modal-dialog modal-lg modal-dialog-centered'
            role='document'
        >
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='exampleModalLabel'>Smart Wizard
                        modal</h5>
                    <button
                        type='button'
                        class='close'
                        data-dismiss='modal'
                        aria-label='Close'
                    > <span aria-hidden='true'>&times;</span> </button>
                </div>
                <div class='modal-body'>
                    <div id='smartwizard'>
                        <ul>
                            <li><a href='#step-1'>Step 1<br /><small>Account
                                        Info</small></a></li>
                            <li><a href='#step-4'>Step 4<br /><small>Confirm
                                        details</small></a></li>
                        </ul>
                        <div class='mt-4'>
                            <div id='step-1'>
                                <div class='row'>
                                    <div class='col-md-6'>
                                        <input
                                            type='text'
                                            class='form-control'
                                            placeholder='Username'
                                            required
                                        />
                                    </div>
                                    
                                <div class='row mt-3'>
                                    <div class='col-md-6'>
                                        <input
                                            type='text'
                                            class='form-control'
                                            placeholder='Password'
                                            required
                                        />
                                    </div>
                                   
                                </div>
                            </div>

                            <div id='step-4' class=''>
                                <div class='row'>
                                    <div class='col-md-12'>
                                        <span>Welcome Back!
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://partner.googleadservices.com/gampad/cookie.js?domain=bestjquery.com&callback=_gfp_s_&client=ca-pub-3311815518700050&cookie=ID%3D7ca4f0e9f69a65c6-229ae0858fde003f%3AT%3D1683577323%3ART%3D1683577323%3AS%3DALNI_MarPUrmWjKcX7lh8LQFXmYh68Yi4A&gpic=UID%3D00000988006ab31a%3AT%3D1683577323%3ART%3D1683577323%3AS%3DALNI_MYIJlUgYTfwwCRnO3dDci0QU-E4Yg"></script><script src="https://pagead2.googlesyndication.com/pagead/managed/js/adsense/m202305030101/show_ads_impl_fy2021.js?bust=31074374" id="google_shimpl"></script><script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3