<section class="container">
  <h3 class="all-friend-page">{{User.username}}</h3>
  <h4>Edit Friends/Family</h4>
  
  
  <section class="flex-row justify-center">
    <ul>
{{#each friends}}
    <li>{{ this }}</li>
{{/each}}
</ul>
 <ul>
{{#each familyMember}}
    <li>{{ this }}</li>
{{/each}}
</ul>
</section>
<!-- Otherwise, provide a link to login -->
{{!-- {{else}}
<a href="/login">You must login first to view this page</a>
{{/if}} --}}