<nav class="navbar navbar-expand-lg navbar-red navbar-dark">
  <div class="wrapper">
    <div class="container-fluid all-show">
      <a href="/"><img src="/images/logo.jpg" height="200" width="200" /></a>
      <h1>Don't Forget!</h1>
      <button id="logout-btn" class="btn btn-outline-primary">Log out</button>
    </div>
  </div>
</nav>
<script src="/logout.js"></script>