<nav class='navbar navbar-expand-lg navbar-red navbar-dark'>
    <div class='wrapper'>

    </div>
    <div class='container-fluid all-show'>
        <a class='navbar-brand' href='#'>Don't Forget!
            <i class='fa fa-codepen'></i></a>
        

            </div>
        </div>
    </div>
</nav>