<html lang='en'>

    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Museum</title>
        <link
            rel='stylesheet'
            href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css'
            integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T'
            crossorigin='anonymous'
        />
        <link rel='stylesheet' type='text/css' href='/css/jass.css' />
        <link rel='stylesheet' type='text/css' href='/css/style.css' />
    </head>

    <body>
        <header>
            <h1>Don't Forget!</h1>
        </header>
        <main>
            {{!-- <div class='fill-forms'>
                {{{body}}}
            </div> --}}
            <div class='logo'>
                <img src='/images/Don_t_Forget_Logo-removebg-preview' />
            </div>
            <div class='container'>
                <div class='logo'>
                    <img src='/images/Don_t_Forget_Logo-removebg-preview.png' />
                </div>
                <div class='buttons form-group'>
                    <button class='btn btn-black' type='submit'>Let's Get
                        Started!</button>
                </div>
                <div class='buttons form-group'>
                    <button class='btn btn-black' type='submit'>Sign In</button>
                </div>
            </div>
        </main>

    </body>

</html>