<html lang='en'>

    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
       


        <link
            href='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css'
            rel='stylesheet'
            id='bootstrap-css'
        />

        <link rel='stylesheet' type='text/css' href='/css/style.css' />
        <style>
            /* Remove padding and border from all images */ #logo { padding: 0;
            border: none; }
        </style>
    </head>

    <body>


<div class='container-fluid' id="test"></div>
        <nav class='navbar' id='navbar-color'>
            {{!-- <div class='container'> --}}
                <a class='navbar-brand' href='/'>
                    <img
                        id='logo'
                        src='/images/logo2.png'
                        alt='logo'
                        width='200'
                        height='200'
                    />
                    
                    Don't Forget!
                </a>
                <button id='logout-btn' class='btn btn-outline-primary3'>Log out</button>

            </div>
        </nav>
        {{{body}}}
        <script
            src='//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js'
        ></script>
        <script
            src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'
        ></script>
    </body>
    <script src='/logout.js'></script>
</html>