


<div class=
    <div
        class='col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center'
    >
        <div>
            <h2>login</h2>
            <a href='./login'></a>
        </div>
    </div>
</div>