 <form>
{{!-- grab one?  grab all? --}}
            <div class='form-group'>
                <label for='example'>Chosen Field</label>
                <input
                    type='text'
                    class='form-control'
                    id='name'
                    aria-describedby='describe'
                    placeholder='Name'
                />
            </div>