<section class="container">
  <h3 class="all-friend-page">{{User.username}}</h3>
  <h4>Edit Friends/Family</h4>
  
  <div class="container">
  <div class="row">
    <div class="col-6">
    {{!-- check here --}}
        <ul>
        {{#each friend as |friend|}}
            <span style="display: inline-block; vertical-align: middle;">{{ friend.id }}</span>
            <button style="display: inline-block; vertical-align: middle;">edit</button><button style="display: inline-block; vertical-align: middle;">delete</button>
        {{/each}}
        </ul>
        </div>
    <div class="col-6">        
        <ul>
{{!-- check here --}}
        {{#each familyMember as |familyMember|}}
            <li>{{ this }}</li>
            <span style="display: inline-block; vertical-align: middle;">{{ familyMember.id }}</span>
            <button style="display: inline-block; vertical-align: middle;">Button</button><button style="display: inline-block; vertical-align: middle;">delete</button>
        {{/each}}
        </ul>
    </div>
</div>
</section>
