<section class='container'>
    <h3 class='all-friend-page'>{{User.username}}</h3>
    <h4>Edit Friends/Family</h4>
    <div class='row justify-content-center'>
        <div class='col'>
            {{! check here }}
            <ul>
                {{#each friend as |friend|}}
                    <span
                        style='display: inline-block; vertical-align: middle;'
                    >{{friend.id}}</span>
                    <button
                        style='display: inline-block; vertical-align: middle;'
                    >edit</button><button
                        style='display: inline-block; vertical-align: middle;'
                    >delete</button>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class='row justify-content-center'>
        <div class='col'>

            <h4>ENTER A NEW FRIEND</h4>

            <div class='input-group-append'>
                <a href='friend'><button
                        class='btn btn-outline-secondary'
                        type='button'
                    >Button</button></a>
            </div>
        </div>
    </div>

</section>