<div class='row'>
    <div
        class='col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center'
    >
        <div class='login-card'>
            <h2 class='page-title'>Login</h2>
            <form class='form login-form'>
                <div class='form-group'>
                    <label for='email-login'>Username:</label>
                    <input class='form-input' type='text' id='email-login' />
                </div>
                <div class='form-group'>
                    <label for='password-login'>Password:</label>
                    <input
                        class='form-input'
                        type='password'
                        id='password-login'
                    />
                </div>
                <div class='form-group'>
                    <button class='btn btn-primary' type='submit'>login</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class='row justify-space-between-md'>
    <div class='login-card'>
        <h2 class='page-title'>Create Account</h2>
        <form class='form login-form'>
            <div class='form-group'>
                <label for='email-login'>Create a username:</label>
                <input class='form-input' type='text' id='email-login' />
            </div>
            <div class='form-group'>
                <label for='password-login'>Create a password:</label>
                <input class='form-input' type='password' id='password-login' />
            </div>
            <div class='form-group'>
                <button class='btn btn-primary' type='submit'>Submit</button>
            </div>
        </form>
    </div>

</div>

<script src='./public/login.js'></script>