<h1>ADD A FAMILY MEMBER</h1>

<div class='row'>
    <div class='mx-auto col-10 col-md-8 col-lg-6'>
        <form action='/target' class='dropzone'></form>
        <form class='add-family-member'>

            <div class='form-group'>
                <label for='example'>Name</label>
                <input
                    type='text'
                    class='form-control'
                    id='name_input'
                    aria-describedby='emailHelp'
                    placeholder='Name'
                />
            </div>

            <div class='form-group'>
                <label for='example'>Email address</label>
                <input
                    type='email'
                    class='form-control'
                    id='email_input'
                    aria-describedby='emailHelp'
                    placeholder='Enter email'
                />
            </div>
            {{! pets question? }}
            <div class='form-group'>
                <label for='example'>Pets??</label>
                <input
                    type='text'
                    class='form-control'
                    id='pets_input'
                    aria-describedby='emailHelp'
                    placeholder='Enter pets'
                />
            </div>
            {{! what format }}
            <div class='form-group'>
                <label for='example'>Birthday</label>
                <input
                    type='integer'
                    class='form-control'
                    id='birthday_input'
                    placeholder='Birthday'
                />
            </div>
            <div class='form-group'>
                <label for='example'>Career</label>
                <input
                    type='integer'
                    class='form-control'
                    id='career_input'
                    placeholder='Career'
                />
            </div>
            <div class='form-group'>
                <label for='example'>Additional comments</label>
                <textarea
                    class='form-control'
                    id='comments_input'
                    rows='3'
                ></textarea>
            </div>
            <div class='input-group-append'>
                <a href='friend'><button
                        class='btn btn-outline-secondary'
                        type='button'
                    >Save Family</button></a>
            </div>
        </form>
    </div>
</div>