<link
    rel='stylesheet'
    href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/dropzone.min.css'
/>

<div class='row'>
    <div
        class='col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center'
    >
        <div class='add-friend'>
            <h2 class='page-title'>Add Friend</h2>
            <form action='/api/upload' class='dropzone'></form>
            <form class='add-friend-form' data-user-id={{user_id}}>

                <div class='form-group'>
                    <label for='example'>Name</label>
                    <input
                        type='text'
                        class='form-control'
                        id='name_input'
                        aria-describedby='emailHelp'
                        placeholder='First Name'
                    />
                </div>
                <div class='form-group'>
                    <label for='example'>Birthday</label>
                    <input
                        type='text'
                        class='form-control'
                        id='birthday_input'
                        placeholder='Birthday'
                    />
                </div>
                <div class='form-group'>
                    <label for='example'>Significant Other</label>
                    <input
                        type='text'
                        class='form-control'
                        id='significant_other_input'
                        placeholder='Enter significant other'
                    />
                </div>
                <div class='form-group'>
                    <label for='example'>Phone</label>
                    <input
                        type='text'
                        class='form-control'
                        id='phone_input'
                        placeholder='Enter phone number'
                    />
                </div>
                <div class='form-group'>
                    <label for='example'>Email address</label>
                    <input
                        type='email'
                        class='form-control'
                        id='email_input'
                        aria-describedby='emailHelp'
                        placeholder='Enter email'
                    />
                </div>
                <div class='form-group'>
                    <label for='example'>Address</label>
                    <input
                        type='text'
                        class='form-control'
                        id='address_input'
                        placeholder='Enter Address'
                    />
                </div>
                <div class='form-group'>

                    <button
                        id='submit-button'
                        class='btn btn-outline-primary'
                        type='submit'
                    >Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script
    src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.2/min/dropzone.min.js'
></script>
<script src='new-friend.js'></script>

{{! <body id="input-body">

    <ul>
        <li class="card" style="--color:#ececec; --bg-color:#CFF09E">
            <div class="icon"><i class="fa-solid fa-house"></i></div>
            <label for="name">Name</label>

            <input type="text" id="name" name="name">

        </li>
        <li class="card" style="--color:#ececec; --bg-color:#A8DBA8">
            <div class="icon"><i class="fa-solid fa-gear"></i></div>
            <label for="name">Email</label>

            <input type="text" id="name" name="name">

        </li>
        <li class="card" style="--color:#ececec; --bg-color:#79B09A">
            <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
            <label for="name">Birthday</label>

            <input type="text" id="name" name="name">

        </li>
        <li class="card" style="--color:#ececec; --bg-color:#3B8686">
            <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></div>
            <label for="name">Career</label>

            <input type="text" id="name" name="name">


        </li>
        <li class="card" style="--color:#ececec; --bg-color:#08486b">
            <div class="icon"><i class="fa-solid fa-circle-star"></i></div>
            <label for="name">Pets</label>

            <input type="text" id="name" name="name">

        </li>
    </ul> }}