<h1>ADD A FRIEND</h1>

<div class='row'>
    <div class='mx-auto col-10 col-md-8 col-lg-6'>
        <form>

            <div class='form-group add-friend-form'>
                <label for='example'>Name</label>
                <input
                    type='text'
                    class='form-control'
                    id='last_name_input'
                    aria-describedby='emailHelp'
                    placeholder='Last Name'
                />
            </div>                        
            <div class='form-group add-friend-form'>
                <label for='example'>Birthday</label>
                <input
                    type='text'
                    class='form-control'
                    id='birthday_input'
                    placeholder='Enter Birthday'
                />
                </div>
                <div class='form-group add-friend-form'>
                <label for='example'>Signficant Other</label>
                <input
                    type='text'
                    class='form-control'
                    id='significant_other_input'
                    placeholder='Birthday'
                />
            </div>
            <div class='form-group add-friend-form'>
                <label for='example'>Email address</label>
                <input
                    type='email'
                    class='form-control'
                    id='email_input'
                    aria-describedby='example'
                    placeholder='Enter email'
                />
            </div>                        
            <div class='form-group add-friend-form'>
                <label for='example'>Phone</label>
                <input
                    type='email'
                    class='form-control'
                    id='phone_input'
                    aria-describedby='example'
                    placeholder='Enter phone'
                />
            {{! pets question? }}
            <div class='form-group add-friend-form'>
                <label for='example'>Pets??</label>
                <input
                    type='text'
                    class='form-control'
                    id='pets_input'
                    aria-describedby='emailHelp'
                    placeholder='Enter pets'
                />
            </div>                      
            <div class='form-group add-friend-form'>
                <label for='example'>Career</label>
                <input
                    type='text'
                    class='form-control'
                    id='career_input'
                    placeholder='Career'
                />
            </div>
            <div class='form-group add-friend-form'>
                <label for='example'>Additional comments</label>
                <textarea
                    class='form-control'
                    id='comments_input'
                    rows='3'
                ></textarea>
            </div>
        </form>
    </div>
</div>