body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--quatrinary);
}

/* CARDS */
.card {
    margin: 20px;
    flex: 0 1 300px;
    border: 7px double var(--dark);
    border-radius: 10px;
    background-color: var(--light);
    color: var(--dark);
}

.card header {
    color: var(--light);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    background-color: var(--tertiary);
    padding: 0.625rem;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
}

/* LAYOUT */
.container {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin: 10px;
}
@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

.all-show {
    z-index: 10;
}

.enter-friend {
    margin-top: 10px;
}
.login-container {
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-logo {
    position: relative;
    margin-left: -41.5%;
}
.login-logo img {
    position: absolute;
    width: 20%;
    margin-top: 19%;
    background: #282726;
    border-radius: 4.5rem;
    padding: 5%;
}
.login-form-1 {
    padding: 9%;
    background: rgba(11, 72, 107);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3 {
    text-align: center;
    margin-bottom: 12%;
    color: #fff;
}
.login-form-2 {
    padding: 9%;
    background: rgba(59, 134, 134);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3 {
    text-align: center;
    margin-bottom: 12%;
    color: #fff;
}
.btnSubmit {
    font-weight: 600;
    width: 70%;
    color: #282726;
    background-color: #fff;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
}
.btnForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.btnForgetPwd:hover {
    text-decoration: none;
    color: #fff;
}

.row {
    margin-bottom: 30px;
}
/* input page */
@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* * { margin: 0; padding: 0; box-sizing: border-box } */
#new-friend-body {
    padding: 2rem;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: #060606;
}
ul {
    width: min(100%, 60rem);
    overflow: hidden;
    margin-inline: auto;
    padding-inline: clamp(1rem, 5vw, 4rem);
    list-style: none;
    perspective: 1000px;
    display: grid;
    row-gap: 0.5rem;
}
ul li.card {
    position: relative;
    padding-block: 1.5rem;
    padding-inline: 2rem;
    background-color: var(--bg-color);
    background-image: linear-gradient(to right, rgb(0 0 0 / 0.15), transparent);
    transform-style: preserve-3d;
    color: var(--color);

    display: grid;
    grid-template: 'icon' 'title' 'content';
    row-gap: 0.5rem;
    column-gap: 2rem;
}
ul li.card::before,
ul li.card::after {
    --side-rotate: 60deg;
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    transform-origin: calc(50% - (50% * var(--ry))) 50%;
    transform: rotateY(calc(var(--side-rotate) * var(--ry)));
    background-color: inherit;
    background-image: linear-gradient(
        calc(90deg * var(--ry)),
        rgb(0 0 0 / 0.25),
        rgb(0 0 0 / 0.5)
    );
}
ul li.card::before {
    --ry: -1;
    right: 100%;
}
ul li.card::after {
    --ry: 1;
    left: 100%;
}

ul li.card .icon {
    grid-area: icon;
    display: grid;
    place-items: center;
}
ul li.card .icon i {
    font-size: 2rem;
}
ul li.card .title {
    grid-area: title;
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
}
ul li.card .content {
    grid-area: content;
}

@media (min-width: 30rem) {
    ul li.card {
        grid-template: 'icon title' 'icon content';
        text-align: left;
    }
    ul li.card .title {
        text-align: left;
    }
}

.edit-friend {
    width: 80%;
    padding: 0%;
    margin-left: 20px;
}
.dropzone {
    width: 20%;
    padding: 0%;
    margin-left: 25px;
}
#navbar-color {
    background-color: rgba(168 219 168);
}
.navbar-brand {
    margin-left: 20px;
    padding: 0%;
}
